.loginwrapper {
  display: grid;
  grid-template-columns: 500px 600px;
  grid-gap: 50px;
  height: 550px;
  margin-top: 00px;
}

.loginanimation {
  border-radius: 20px;
  width: 100%;
  margin-left: 200px;
  margin-top: 100px;
}

.loginform {
  border-radius: 20px;
  background-color: whitesmoke;
  margin-left: 200px;
  max-width: 100% !important;
  margin-top: 100px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

@media all and (max-width: 550px) {
  .loginwrapper {
    display: inline-block;
    margin-left: 0px;
  }
  .loginanimation {
    display: none;
  }
  .loginform {
    margin-left: 10px;
    width: 460px;
  }
}
