.contactusgrid {
  display: grid;
  grid-template-columns: 500px 600px;
  grid-gap: 50px;
  height: 550px;
  margin-left: 200px;
}

.maincontactus {
  border-radius: 20px;
  background-color: whitesmoke;
  max-width: 100% !important;
  margin-top: 100px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.contactusformbar {
  max-width: 400px !important;
  margin-left: 80px;
}
.form-control {
  background-color: rgb(236, 233, 233);
  border-radius: 25px;
  margin: auto;
}
#contactusheader {
  font-size: 38px;
}
#contactusbrief {
  font-size: 26px;
}

.contactbutton {
  margin-left: 200px;
  max-width: 170px !important;
  background-color: black;
  color: white;
}
.contactbutton:hover {
  background-color: cadetblue;
}

.requestdemo {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: sans-serif;
}

@media all and (max-width: 550px) {
  .contactusgrid {
    display: inline-block;
    margin-left: 0px;
  }
  .contactusimg {
    display: none;
  }
  .maincontactus {
    margin-left: 15px;
  }

  .contactusformbar {
    width: 280px;
  }
  #contactusheader {
    font-size: 30px;
  }
  #contactusbrief {
    font-size: 23.5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .contactbutton {
    margin-left: 150px;
    width: 130px;
    background-color: black;
    color: white;
    font-size: 15px;
  }
}
